<?xml version="1.0" encoding="utf-8"?>
<manifest
  package="host.exp.exponent"
  xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools">

  <permission
    android:name="io.tidepool.urchin.permission.C2D_MESSAGE"
    android:protectionLevel="signature"/>

  <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" tools:node="remove" />
  <uses-permission android:name="android.permission.WAKE_LOCK" tools:node="remove" />
  <uses-permission android:name="com.anddoes.launcher.permission.UPDATE_COUNT" tools:node="remove" />
  <uses-permission android:name="com.sec.android.provider.badge.permission.READ" tools:node="remove" />
  <uses-permission android:name="com.sec.android.provider.badge.permission.WRITE" tools:node="remove" />
  <uses-permission android:name="com.htc.launcher.permission.UPDATE_SHORTCUT" tools:node="remove" />
  <uses-permission android:name="com.majeur.launcher.permission.UPDATE_BADGE" tools:node="remove" />
  <uses-permission android:name="com.sonyericsson.home.permission.BROADCAST_BADGE" tools:node="remove" />
  <uses-permission android:name="android.permission.MANAGE_DOCUMENTS" tools:node="remove" />
  <uses-permission android:name="android.permission.READ_PHONE_STATE" tools:node="remove" />
  <uses-permission android:name="android.permission.USE_FINGERPRINT" tools:node="remove" />
  <uses-permission android:name="android.permission.VIBRATE" tools:node="remove" />
  <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" tools:node="remove" />
  <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" tools:node="remove" />
  <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" tools:node="remove" />
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" tools:node="remove" />
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" tools:node="remove" />
  <uses-permission android:name="android.permission.STORAGE" tools:node="remove" />
  <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" tools:node="remove" />
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" tools:node="remove" />
  <uses-permission android:name="android.permission.CAMERA" tools:node="remove" />
  <uses-permission android:name="android.permission.READ_CONTACTS" tools:node="remove" />
  <uses-permission android:name="android.permission.READ_CALENDAR" tools:node="remove" />
  <uses-permission android:name="android.permission.WRITE_CALENDAR" tools:node="remove" />
  <uses-permission android:name="android.permission.RECORD_AUDIO" tools:node="remove" />
  <uses-permission android:name="android.permission.WRITE_SETTINGS" tools:node="remove" />
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE" tools:node="remove" />

</manifest>
