node_modules/
.expo/
npm-debug.*
yarn-debug.log*
yarn-error.log*

# Don't commit these, just switch between build time copied versions of App.js via package.json scripts
/src
/assets
/ios/build
/android/build

#
# From https://github.com/github/gitignore/blob/master/Global/VisualStudioCode.gitignore
#

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json