node_modules/
.expo/
npm-debug.*
yarn-debug.log*
yarn-error.log*
.vscode/.react/debuggerWorker.js

# Either crna-entry.js or storybook-entry.js is copied via script to index.js, rather than using "main" in package.json
/index.js

# Switch between build time copied versions via package.json scripts, don't commit the copied files in /src
/src/actions/appVersion.js
/src/components/LinearGradient.js
/src/reducers/appVersion.js
/src/utils/runtimeEnvironment.js
