<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Tidepool</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>org.tidepool.blipnotes</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Tidepool</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>3.1.2</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>exp0815d1104db745568824ac69a998de27</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>OAuthRedirect</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>org.tidepool.blipnotes</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>EXAnalyticsDisabled</key>
	<true/>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSCalendarsUsageDescription</key>
	<string>Allow Tidepool to access your calendar</string>
	<key>NSCameraUsageDescription</key>
	<string>Allow Tidepool to use your camera</string>
	<key>NSContactsUsageDescription</key>
	<string>Allow Tidepool to access your contacts</string>
	<key>NSHealthShareUsageDescription</key>
	<string>Tidepool reads diabetes data (blood glucose, nutrition, insulin, etc) from Health so you can view that data in Tidepool.</string>
	<key>NSHealthUpdateUsageDescription</key>
	<string>Tidepool writes diabetes data to HealthKit so you can view data you‘ve uploaded to Tidepool using other apps on your iPhone.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Allow Tidepool to use your location</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Allow Tidepool to access your microphone</string>
	<key>NSMotionUsageDescription</key>
	<string>Allow Tidepool to access your device&apos;s accelerometer</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Give Tidepool permission to save photos</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Give Tidepool permission to access your photos</string>
	<key>NSRemindersUsageDescription</key>
	<string>Allow Tidepool to access your reminders</string>
	<key>UIBackgroundModes</key>
	<array/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array/>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
